[submodule "kaliwiki"]
	path = kaliwiki
	url = https://github.com/pwnwiki/kaliwiki.git
[submodule "msfwiki"]
	path = msfwiki
	url = https://github.com/pwnwiki/msfwiki.git
[submodule "dfirwiki"]
	path = dfirwiki
	url = https://github.com/pwnwiki/dfirwiki.git
[submodule "ctfwiki"]
	path = ctfwiki
	url = https://github.com/pwnwiki/ctfwiki.git
